* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  /*fez com que os elementos ficassem no centro da tela superior*/

  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background: #232c35;
}
.checkbox {
  opacity: 0; /*faz desaparecer a caixa de check*/
  position: absolute;
}

.label {
  background-color: #111;
  border-radius: 50px; /*vai ficar redondo*/
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between; /*vai fazer o sol ir para um lado e a lua p o outro*/

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;

  transform: scale(1.5);
}

/*abaixo, a criação da bolinha que muda do dark para o light*/
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 22px;
  width: 22px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}
